@import "tailwindcss";

body {
  background: linear-gradient(180deg, #061212 0%, #0e2e2e 100%);
  color: rgba(236, 252, 253, 1);
  font-family: Poppins;
  padding: 0rem;
  box-sizing: border-box;
  place-items: center;
}
