@import "tailwindcss";
@custom-variant dark (&:where(.dark,.dark *));

@theme {
  --primary-500: #44e5e7;
}

body {
  font-family: Poppins;
  padding: 0rem;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
