@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *))

body {
  color: rgba(236, 252, 253, 1);
  font-family: Poppins;
  padding: 0rem;
  box-sizing: border-box;
  overflow-x: hidden;
}
